#body {
   position: absolute;
   left: 40%; 
   margin-top: 90px; 
   
}

#hat {
   position: relative;
   left: 38%; 
   margin-top: 45px; 
      
}

#glasses { 
   position: absolute;
   left: 46%; 
   margin-top: 190px; 
}