section#contact-info  { 
font-size: .8em; }  


.job  {
 border-radius: 25px;
 background:#e9e5dc;
 padding: 20px; 
 width: 350px;
 height: 150px;
 margin-top: 10px;
 margin-bottom: 10px;
} 


ul li {
 font-size: .8em;
} 


/* Pseudo code */

ul::first-line {
    color: #FFA500;
}
